<!-- Bootstrap datepicker 추가 : 날자 입력 컨트롤 -->
<script th:src="@{/dist/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/dist/bootstrap-datepicker/bootstrap-datepicker.ko.min.js}" charset="UTF-8"></script>
<!--<script src="/dist/js/vue-bootstrap-datetimepicker@5.js"></script>-->
<!--  Vue js 파일-->
<script th:src="@{/dist/js/vue.js}"></script>
<script th:src="@{/dist/js/vue-router.js}"></script>
<script th:src="@{/dist/js/axios.min.js}"></script>
<script th:src="@{/dist/js/moment.min.js}"></script>